# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore local configuration files
configuration/*.json

# Ignore the local specification file
openapi.json
